*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    flex: 1;
    gap: 15px;

    display: flex;
    
    align-items: center;
    flex-direction: column;

    margin: 15px 0 15px 0;
    width: 95%;
}